<p-card>
    <p><span>Question : </span><span>{{currentQuestion.questionText}}</span></p>
    <ng-template pTemplate="subtitle">
        NB : Choisir la réponse valide
    </ng-template>
    <div *ngFor="let resp of currentQuestion?.qcxResponse; let i=index" class="table-row">
        <span>
            <mat-radio-button [checked]="resp.isValid" (change)='radioChecked(i)'>
            </mat-radio-button>
        </span>
        <span>
            <mat-label>
                {{resp?.label}}
            </mat-label>
        </span>
    </div>
    <p class="p-d-flex p-jc-end"><span [innerHTML]="getCurrentIndex()"></span>/<span>{{session?.idquiz?.questions?.length}}</span></p>
</p-card>

<div class="p-d-flex p-jc-between">
    <button mat-raised-button color="primary" *ngIf="currentQuestion.previous" (click)="previousPage()">
        Précédent
    </button>
    <button mat-raised-button color="primary" *ngIf="currentQuestion.next" (click)="nextPage()">
        Suivant
    </button>
    <button mat-raised-button color="primary" *ngIf="!currentQuestion.next" (click)="postResponsesToApi()">
        Terminer
    </button>


</div>