


<form [formGroup]="loginForm">
  <mat-form-field >
    <input  type="text"
      matInput placeholder="Tapez votre login" required formControlName="loginname">
    <mat-error *ngIf="loginForm.value.loginname.invalid || loginForm.hasError">{{getErrorMessage()}}</mat-error>
    <mat-icon matPrefix class="px-6">login name</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input  type="password"
      placeholder="Tapez votre mot de passe" required matInput formControlName="password"
      [type]="hide ? 'text' : 'password' ">
    <mat-icon matPrefix>lock</mat-icon>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-stroked-button [disabled]="!loginForm.valid" [ngClass]="{'text-white':loginForm.valid}"
    (click)="onSubmit()">
    Se connecter
  </button>
</form>

<pre><code>
  {{session | json}}
</code></pre>