<div id="central">
  <div class="content-div">
    <form class="content" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input class="" matInput placeholder="Tapez votre login" required formControlName="loginname">
        <mat-error *ngIf="loginForm.value.loginname.invalid || loginForm.hasError">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="pwd-group">
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input placeholder="Mot de passe" required matInput formControlName="password"
            [type]="hide ? 'text' : 'password' ">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
        
        
      </div>
      <button class="submit-button" color="primary" mat-raised-button [disabled]="!loginForm.valid" [ngClass]="{'text-white':loginForm.valid}"
        (click)="onSubmit()">
        Se connecter
      </button>
    </form>
  </div>
</div>