<div id="central">
    <div class="content">
        <form [formGroup]="accessForm">

            <mat-form-field appearance="outline">
                <mat-label>Code du Quiz</mat-label>
                <input matInput placeholder="CODE" minlength="6" maxlength="6" size="6"
                formControlName="code" required>
                <mat-icon matSuffix>code</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="connect()" [disabled]="!accessForm.valid">Connecter</button>
    </div>
</div>