#central{
    height: 80vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#float-input{
    font-size: 4rem;
    text-align: center;

}

#label{
 //   font-size: 3em;
    text-align: center;
}

.content{  
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}

form{
    align-self: center;
    justify-self: center;
}

button{
    padding: 17px auto;
    margin: 30px auto;
}

