<p><span>Question : </span><span>{{currentQuestion.questionText}}</span></p>
<ng-template pTemplate="subtitle">
    NB : Choisir une ou plusieurs réponses
 </ng-template>
<div *ngFor="let response of currentQuestion.qcxResponse">
    <span>
        <mat-checkbox [(ngModel)]="response.isValid">
        </mat-checkbox>
    </span>
    <span>
        <mat-label>
            {{response.label}}
        </mat-label>
    </span>
</div>
<div>
    <button *ngIf="currentQuestion.previous">
        Précédent
    </button>
    <button *ngIf="currentQuestion.next">
        Suivant
    </button>
    <button *ngIf="!currentQuestion.next">
        Terminer
    </button>
   
    <button (click)="aff(currentQuestion.qcxResponse)">
        voir
    </button>
  <pre><code>
     <input type="text" name="i" [(ngModel)]="i"> <h1>{{i}}</h1>
    {{
        currentQuestion.qcxResponse | json
    }}
  </code></pre>  
    
</div>
