<p><span>Question : </span><span>{{currentQuestion.questionText}}</span></p>
<ng-template pTemplate="subtitle">
    NB : Choisir une ou plusieurs réponses
</ng-template>

<div>

    <div *ngFor="let response of currentQuestion.qcxResponse" class="table-row">
        <div class="p-flex p-jc-center">
            <mat-checkbox [(ngModel)]="response.isValid">{{response.label}}
            </mat-checkbox>
        </div>

    </div>
</div>


<div class="p-mr-2 p-as-end p-d-flex p-jc-between">
    <button mat-raised-button color="primary" *ngIf="currentQuestion.previous" (click)="previousPage()">
        Précédent
    </button>
    <button mat-raised-button color="primary" *ngIf="currentQuestion.next" (click)="nextPage()">
        Suivant
    </button>
    <button mat-raised-button color="primary" *ngIf="!currentQuestion.next" (click)="postResponsesToApi()">
        Terminer
    </button>

   
</div>
